## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Permissions Administration')}
    %if c.site_name:
        &middot; ${c.site_name}
    %endif
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))}
    &raquo;
    ${_('Permissions')}
</%def>

<%def name="page_nav()">
    ${self.menu('admin')}
</%def>


<%def name="main()">
<div class="box" style="overflow:auto">
    <div class="title">
        ${self.breadcrumbs()}
    </div>

    ##main
    <div style="width: 150px; float:left">
        <ul class="nav nav-pills nav-stacked">
          <li>
           <div class="gravatar_box" style="height: 26px">
               <div class="gravatar" style="float: left">
                <i class="icon-ban-circle" style="font-size: 26px"></i>
               </div>
               <div class="truncate" style="margin:10px 0px 10px 0px; color:#5f5f5f; float:left; width: 100px">
                <strong>${_('Permissions')}</strong>
               </div>
           </div>
          </li>
          <li class="${'active' if c.active=='globals' else ''}"><a href="${h.url('admin_permissions')}">${_('Global')}</a></li>
          <li class="${'active' if c.active=='ips' else ''}"><a href="${h.url('admin_permissions_ips')}">${_('IP Whitelist')}</a></li>
          <li class="${'active' if c.active=='perms' else ''}"><a href="${h.url('admin_permissions_perms')}">${_('Overview')}</a></li>
        </ul>
    </div>

    <div style="width:750px; float:left; padding: 10px 0px 0px 20px;margin: 0px 0px 0px 10px; border-left: 1px solid #DDDDDD">
        <%include file="/admin/permissions/permissions_${c.active}.html"/>
    </div>
</div>

</%def>
