## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>
<%block name="title">
    ${_('%s Repository group dashboard') % c.group.group_name}
    %if c.site_name:
        &middot; ${c.site_name}
    %endif
</%block>

<%def name="breadcrumbs()">
    <span class="groups_breadcrumbs">
    ${h.link_to(_(u'Home'),h.url('/'))}
    %if c.group.parent_group:
        &raquo; ${h.link_to(c.group.parent_group.name,h.url('repos_group_home',group_name=c.group.parent_group.group_name))}
    %endif
    &raquo; "${c.group.name}" ${_('with')}
    </span>
</%def>

<%block name="header_menu">
    ${self.menu('repositories')}
</%block>

<%def name="main()">
        <%include file="/index_base.html" args="parent=self,group_name=c.group.group_name"/>
</%def>
