<div style="font-size: 24px; color: #666666; padding: 0px 0px 10px 0px">${_('User Group: %s') % c.user_group.users_group_name}</div>

<dl class="dl-horizontal">
<%
 elems = [
    (_('Members'), len(c.group_members_obj), ''),
    (_('Created on'), h.fmt_date(c.user_group.created_on), ''),
    (_('Owner'), h.person(c.user_group.user.username), '')
    ]
%>
%for dt, dd, tt in elems:
  <dt style="width:150px; text-align: left">${dt}:</dt>
  <dd style="margin-left: 160px" title="${tt}">${dd}</dd>
%endfor
</dl>

${h.form(h.url('users_group', id=c.user_group.users_group_id),method='delete')}
    <button class="btn btn-small btn-danger" type="submit"
            onclick="return confirm('${_('Confirm to delete this user group: %s') % c.user_group.users_group_name}');">
        <i class="icon-minus-circled"></i>
        ${_('Delete this user group')}
    </button>
${h.end_form()}
