## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
    ${_('User Groups Administration')}
    %if c.site_name:
        &middot; ${c.site_name}
    %endif
</%block>

<%def name="breadcrumbs_links()">
    <input class="q_filter_box" id="q_filter" size="15" type="text" name="filter" placeholder="${_('quick filter...')}" value=""/>
    ${h.link_to(_('Admin'),h.url('admin_home'))} &raquo; <span id="user_group_count">0</span> ${_('user groups')}
</%def>

<%block name="header_menu">
    ${self.menu('admin')}
</%block>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
        <ul class="links">
        %if h.HasPermissionAny('hg.admin', 'hg.usergroup.create.true')():
          <li>
            <a href="${h.url('new_users_group')}" class="btn btn-small btn-success"><i class="icon-plus"></i> ${_(u'Add User Group')}</a>
          </li>
        %endif
        </ul>
    </div>
    <!-- end box / title -->
    <div class="table-grid table yui-skin-sam" id="datatable_list_wrap"></div>
    <div id="user-paginator" style="padding: 0px 0px 0px 20px"></div>
</div>
<script>
  var data = ${c.data|n};
  var fields = [
    {key: "group_name"},
    {key: "raw_name"},
    {key: "desc"},
    {key: "members"},
    {key: "active"},
    {key: "owner"},
    {key: "action"}
  ];
  var column_defs = [
    {key:"group_name",label:"${_('Name')}",sortable:true, sortOptions: { sortFunction: nameSort }},
    {key:"desc",label:"${_('Description')}",sortable:true},
    {key:"members",label:"${_('Members')}",sortable:false},
    {key:"active",label:"${_('Active')}",sortable:true},
    {key:"owner",label:"${_('Owner')}",sortable:true},
    {key:"action",label:"${_('Action')}",sortable:false}
  ];
  var counter = YUD.get('user_group_count');
  var sort_key = "group_name";
  YUI_datatable(data, fields, column_defs, counter, sort_key, ${c.visual.admin_grid_items});
</script>
</%def>
