${h.form(url('admin_settings_mapping'), method='post')}
    <div class="form">
        <div class="fields">
            <div class="field">
                <div class="label label-checkbox">
                    <label for="destroy">${_('Rescan option')}:</label>
                </div>
                <div class="checkboxes">
                    <div class="checkbox">
                        ${h.checkbox('destroy',True)}
                        <label for="destroy">${_('Destroy old data')}</label>
                    </div>
                    <span class="help-block">${_('Check this option to remove references to repositories that no longer exist in on the filesystem.')}</span>

                    <div class="checkbox">
                        ${h.checkbox('invalidate',True)}
                        <label for="invalidate"> ${_('Invalidate cache for all repositories')}</label>
                    </div>
                    <span class="help-block">${_('Check this to reload data and clear cache keys for all repositories.')}</span>

                    <div class="checkbox">
                        ${h.checkbox('hooks',True)}
                        <label for="hooks"> ${_('Install Git hooks')} </label>
                    </div>
                    <span class="help-block">${_("Verify if Kallithea's Git hooks are installed for each repository. Current hooks will be updated to the latest version.")}</span>
                </div>

                </div>
            </div>

            <div class="buttons">
            ${h.submit('rescan',_('Rescan Repositories'),class_="btn")}
            </div>
        </div>
    </div>
${h.end_form()}
