## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>
<%block name="title">
    ${_('Public Journal')}
</%block>
<%def name="breadcrumbs()">
    ${c.site_name}
</%def>
<%block name="header_menu">
    ${self.menu('journal')}
</%block>
<%block name="head_extra">
  <link href="${h.url('public_journal_atom')}" rel="alternate" title="${_('ATOM public journal feed')}" type="application/atom+xml" />
  <link href="${h.url('public_journal_rss')}" rel="alternate" title="${_('RSS public journal feed')}" type="application/rss+xml" />
</%block>
<%def name="main()">

<div class="box">
  <!-- box / title -->
  <div class="title">
    <h5>${_('Public Journal')}</h5>
      <ul class="links">
     <li>
       <span>
         <a href="${h.url('public_journal_atom')}"> <i class="icon-rss-squared" style="color: #fa9b39"></i></a>
       </span>
     </li>
     </ul>
  </div>

  <div id="journal">${c.journal_data}</div>
</div>

</%def>
