%if c.repo_info.clone_uri:
<div style="font-size: 20px; padding: 0px 0px 10px 0px">
   ${_('Remote url')}: <a href="${c.repo_info.clone_uri}">${c.repo_info.clone_uri_hidden}</a></li>
</div>
${h.form(url('edit_repo_remote', repo_name=c.repo_name), method='put')}
<div class="form">
   <div class="fields">
       ${h.submit('remote_pull_%s' % c.repo_info.repo_name,_('Pull changes from remote location'),class_="btn btn-small",onclick="return confirm('"+_('Confirm to pull changes from remote side')+"');")}
   </div>
</div>
${h.end_form()}
%else:
  <div style="font-size: 20px">
    ${_('This repository does not have any remote url set')}
  </div>
%endif
