<div style="font-size: 20px; color: #666666; padding: 0px 0px 10px 0px">${_('Change your account password')}</div>
${h.form(url('my_account_password'), method='post')}
<div class="form">
    <div class="fields">
     <div class="field">
        <div class="label">
            <label for="current_password">${_('Current password')}:</label>
        </div>
        <div class="input">
            ${h.password('current_password',class_='medium',autocomplete="off")}
        </div>
     </div>

     <div class="field">
        <div class="label">
            <label for="new_password">${_('New password')}:</label>
        </div>
        <div class="input">
            ${h.password('new_password',class_='medium', autocomplete="off")}
        </div>
     </div>

     <div class="field">
        <div class="label">
            <label for="password_confirmation">${_('Confirm new password')}:</label>
        </div>
        <div class="input">
            ${h.password('new_password_confirmation',class_='medium', autocomplete="off")}
        </div>
     </div>

        <div class="buttons">
          ${h.submit('save',_('Save'),class_="btn")}
          ${h.reset('reset',_('Reset'),class_="btn")}
        </div>
    </div>
</div>
${h.end_form()}
