## -*- coding: utf-8 -*-

<%def name="pullrequest_overview(pullrequests)">

%if not len(pullrequests):
    <div class="normal-indent empty_data">${_('No entries')}</div>
    <% return %>
%endif

<div class="table">
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="left">${_('Title')}</th>
        <th class="left">${_('Author')}</th>
        <th class="left">${_('Age')}</th>
        <th class="left">${_('From')}</th>
        <th class="left">${_('To')}</th>
      </tr>
    </thead>
% for pr in pullrequests:
    <tr class="${'pr-closed' if pr.is_closed() else ''}">
      <td width="60px">
        ## review status
        %if pr.last_review_status:
          <i class="icon-circle changeset-status-${pr.last_review_status}" title="${_("Someone voted: %s") % pr.last_review_status}"></i>
        %else:
          <i class="icon-circle changeset-status-not_reviewed" title="${_("Nobody voted")}"></i>
        %endif

        ## delete button
        %if pr.author.user_id == c.authuser.user_id:
          ${h.form(url('pullrequest_delete', repo_name=pr.other_repo.repo_name, pull_request_id=pr.pull_request_id),method='delete', style="display:inline-block")}
          <button class="action_button"
                  id="remove_${pr.pull_request_id}"
                  name="remove_${pr.pull_request_id}"
                  title="${_('Delete Pull Request')}"
                  onclick="return confirm('${_('Confirm to delete this pull request')}');">
            <i class="icon-minus-circled"></i>
          </button>
          ${h.end_form()}
        %endif
      </td>
      <td>
        <a href="${pr.url()}">
        ${pr.title or _("(no title)")}
        %if pr.is_closed():
          <span class="pr-closed-tag">${_('Closed')}</span>
        %endif
        </a>
      </td>
      <td>
        ${pr.author.username_and_name}
      </td>
      <td>
        <span class="tooltip" title="${h.tooltip(h.fmt_date(pr.created_on))}">
          ${h.age(pr.created_on)}
        </span>
      </td>
      <td>
        <% org_ref_name=pr.org_ref.rsplit(':', 2)[-2] %>
        <a href="${h.url('summary_home', repo_name=pr.org_repo.repo_name, anchor=org_ref_name)}">
          ${pr.org_repo.repo_name}#${org_ref_name}
        </a>
      </td>
      <td>
        <% other_ref_name=pr.other_ref.rsplit(':', 2)[-2] %>
        <a href="${h.url('summary_home', repo_name=pr.other_repo.repo_name, anchor=other_ref_name)}">
          ${pr.other_repo.repo_name}#${other_ref_name}
        </a>
      </td>
    </tr>
% endfor
  </table>
</div>

%if pager in pullrequests:
<div class="notification-paginator">
  <div class="pagination-wh pagination-left">
  ${pullrequests.pager('$link_previous ~2~ $link_next', **request.GET.mixed())}
  </div>
</div>
%endif

</%def>

${pullrequest_overview(c.pullrequests_pager)}
