## -*- coding: utf-8 -*-

<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('%s Changelog') % c.repo_name}
    %if c.changelog_for_path:
      /${c.changelog_for_path}
    %endif
    %if c.site_name:
        &middot; ${c.site_name}
    %endif
</%def>

<%def name="breadcrumbs_links()">
    <% size = c.size if c.size <= c.total_cs else c.total_cs %>
    ${_('Changelog')}
    %if c.changelog_for_path:
     - /${c.changelog_for_path}
    %endif
    %if c.revision:
    @ ${h.short_id(c.first_revision.raw_id)}
    %endif
    - ${ungettext('showing %d out of %d revision', 'showing %d out of %d revisions', size) % (size, c.total_cs)}
</%def>

<%def name="page_nav()">
    ${self.menu('repositories')}
</%def>

<%def name="main()">
${self.repo_context_bar('changelog', c.first_revision.raw_id if c.first_revision else None)}
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <div class="table">
        % if c.pagination:
            <div>
                <div style="overflow:auto; display:${'none' if c.changelog_for_path else ''}">
                    <div class="container_header">
                        <div style="float:left; margin-left:20px;">
                        ${h.form(h.url.current(),method='get')}
                            ${h.submit('set',_('Show'),class_="btn btn-small")}
                            ${h.text('size',size=3,value=c.size)}
                            ${_('revisions')}
                            %if c.branch_name:
                            ${h.hidden('branch', c.branch_name)}
                            %endif
                        ${h.end_form()}
                        </div>
                        <div style="float: right; margin: 0px 0px 0px 4px">
                            <a href="#" class="btn btn-small" id="rev_range_container" style="display:none"></a>
                            <a href="#" class="btn btn-small" id="rev_range_clear" style="display:none">${_('Clear selection')}</a>
                            %if c.revision:
                                <a class="btn btn-small" href="${h.url('changelog_home', repo_name=c.repo_name)}">
                                    ${_('Go to tip of repository')}
                                </a>
                            %endif
                            %if c.db_repo.fork:
                                <a id="compare_fork"
                                   title="${_('Compare fork with %s' % c.db_repo.fork.repo_name)}"
                                   href="${h.url('compare_url',repo_name=c.db_repo.fork.repo_name,org_ref_type=c.db_repo.landing_rev[0],org_ref_name=c.db_repo.landing_rev[1],other_repo=c.repo_name,other_ref_type='branch' if request.GET.get('branch') else c.db_repo.landing_rev[0],other_ref_name=request.GET.get('branch') or c.db_repo.landing_rev[1], merge=1)}"
                                   class="btn btn-small"><i class="icon-git-compare"></i> ${_('Compare fork with parent repo (%s)' % c.db_repo.fork.repo_name)}</a>
                            %endif
                            ## text and href of open_new_pr is controlled from javascript
                            <a id="open_new_pr" class="btn btn-small"></a>
                            ${_("Branch filter:")} ${h.select('branch_filter',c.branch_name,c.branch_filters)}
                        </div>
                    </div>
                </div>

                <div id="changelog" style="clear:both">

                <div id="graph_nodes">
                    <canvas id="graph_canvas"></canvas>
                </div>
                <div id="graph_content" style="${'margin: 0px' if c.changelog_for_path else ''}">

                <table id="changesets">
                <tbody>
                %for cnt,cs in enumerate(c.pagination):
                    <tr id="chg_${cnt+1}" class="container ${'tablerow%s' % (cnt%2)}">
                        <td class="checkbox">
                            %if c.changelog_for_path:
                                ${h.checkbox(cs.raw_id,class_="changeset_range", disabled="disabled")}
                            %else:
                                ${h.checkbox(cs.raw_id,class_="changeset_range")}
                            %endif
                        <td class="status">
                          %if c.statuses.get(cs.raw_id):
                            <div class="changeset-status-ico">
                            %if c.statuses.get(cs.raw_id)[2]:
                              <a class="tooltip" title="${_('Changeset status: %s\nClick to open associated pull request #%s') % (h.changeset_status_lbl(c.statuses.get(cs.raw_id)[0]), c.statuses.get(cs.raw_id)[2])}" href="${h.url('pullrequest_show',repo_name=c.statuses.get(cs.raw_id)[3],pull_request_id=c.statuses.get(cs.raw_id)[2])}">
                                <i class="icon-circle changeset-status-${c.statuses.get(cs.raw_id)[0]}"></i>
                              </a>
                            %else:
                              <a class="tooltip" title="${_('Changeset status: %s') % h.changeset_status_lbl(c.statuses.get(cs.raw_id)[0])}" href="${h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id,anchor='comment-%s' % c.comments[cs.raw_id][0].comment_id)}">
                                  <i class="icon-circle changeset-status-${c.statuses.get(cs.raw_id)[0]}"></i>
                              </a>
                            %endif
                            </div>
                          %endif
                        </td>
                        <td class="author">
                            <img alt="gravatar" src="${h.gravatar_url(h.email_or_none(cs.author),16)}"/>
                            <span title="${cs.author}" class="user">${h.shorter(h.person(cs.author),22)}</span>
                        </td>
                        <td class="hash" style="width:${len(h.show_id(cs))*6.5}px">
                            <a href="${h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id)}">
                                <span class="changeset_hash">${h.show_id(cs)}</span>
                            </a>
                        </td>
                        <td class="date">
                            <div class="date">${h.age(cs.date,True)}</div>
                        </td>
                        <td class="expand_commit" commit_id="${cs.raw_id}" title="${_('Expand commit message')}">
                            <i class="icon-align-left" style="color:#999"></i>
                        </td>
                        <td class="mid">
                            <div class="log-container">
                                <div class="message" id="C-${cs.raw_id}">${h.urlify_commit(cs.message, c.repo_name,h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id))}</div>
                                <div class="extra-container">
                                    %if c.comments.get(cs.raw_id):
                                        <div class="comments-container">
                                            <div class="comments-cnt" title="${_('Changeset has comments')}">
                                                <a href="${h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id,anchor='comment-%s' % c.comments[cs.raw_id][0].comment_id)}">
                                                    ${len(c.comments[cs.raw_id])}
                                                    <i class="icon-comment-discussion"></i>
                                                </a>
                                            </div>
                                        </div>
                                    %endif
                                    %if h.is_hg(c.db_repo_scm_instance):
                                        %for book in cs.bookmarks:
                                            <div class="booktag" title="${_('Bookmark %s') % book}">
                                                ${h.link_to(book,h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id))}
                                            </div>
                                        %endfor
                                    %endif
                                    %for tag in cs.tags:
                                        <div class="tagtag" title="${_('Tag %s') % tag}">
                                            ${h.link_to(tag,h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id))}
                                        </div>
                                    %endfor
                                    %if (not c.branch_name) and cs.branch:
                                        <div class="branchtag" title="${_('Branch %s' % cs.branch)}">
                                            ${h.link_to(cs.branch,h.url('changelog_home',repo_name=c.repo_name,branch=cs.branch))}
                                        </div>
                                    %endif
                                </div>
                            </div>
                        </td>
                    </tr>
                %endfor
                </tbody>
                </table>

                </div>

                <div class="pagination-wh pagination-left">
                    ${c.pagination.pager('$link_previous ~2~ $link_next')}
                </div>
            </div>
        </div>

        <script type="text/javascript" src="${h.url('/js/graph.js', ver=c.kallithea_version)}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                //Monitor range checkboxes and build a link to changesets ranges
                var checkboxes = YUD.getElementsByClassName('changeset_range');
                // register extra routes needed for this view
                pyroutes.register('changeset_home', "${h.url('changeset_home', repo_name='%(repo_name)s', revision='%(revision)s')}", ['repo_name', 'revision']);

                var checkbox_checker = function(e){
                    var checked_checkboxes = [];
                    for (pos in checkboxes){
                        if(checkboxes[pos].checked){
                            checked_checkboxes.push(checkboxes[pos]);
                        }
                    }
                    if(YUD.get('open_new_pr')){
                        if(checked_checkboxes.length>1){
                            YUD.setStyle('open_new_pr','display','none');
                        } else {
                            YUD.setStyle('open_new_pr','display','');
                            if(checked_checkboxes.length>0){
                                YUD.get('open_new_pr').innerHTML = _TM['Open New Pull Request for Selected Changesets'];
                            }else{
                                YUD.get('open_new_pr').innerHTML = _TM['Open New Pull Request'];
                            }
                        }
                    }

                    if(checked_checkboxes.length>0){
                        var rev_end = checked_checkboxes[0].name;
                        var rev_start = checked_checkboxes[checked_checkboxes.length-1].name;
                        var url = pyroutes.url('changeset_home', {'repo_name': '${c.repo_name}',
                                                                  'revision': rev_start+'...'+rev_end});

                        var link = (rev_start == rev_end)
                            ? _TM['Show Selected Changeset __S']
                            : _TM['Show Selected Changesets __S &rarr; __E'];

                        link = link.replace('__S',rev_start.substr(0,6));
                        link = link.replace('__E',rev_end.substr(0,6));
                        YUD.get('rev_range_container').href = url;
                        YUD.get('rev_range_container').innerHTML = link;
                        YUD.setStyle('rev_range_container','display','');
                        YUD.setStyle('rev_range_clear','display','');

                        YUD.get('open_new_pr').href = pyroutes.url('pullrequest_home',
                                                                   {'repo_name': '${c.repo_name}',
                                                                    'rev_start': rev_start,
                                                                    'rev_end': rev_end})

                        YUD.setStyle('compare_fork','display','none');
                    }else{
                        YUD.setStyle('rev_range_container','display','none');
                        YUD.setStyle('rev_range_clear','display','none');
                        %if c.revision:
                            YUD.get('open_new_pr').href = pyroutes.url('pullrequest_home',
                                                                       {'repo_name': '${c.repo_name}',
                                                                        'rev_end':'${c.first_revision.raw_id}'});
                        %else:
                            YUD.get('open_new_pr').href = pyroutes.url('pullrequest_home',
                                                                       {'repo_name': '${c.repo_name}',
                                                                        'branch':'${c.first_revision.branch}'});
                        %endif
                        YUD.setStyle('compare_fork','display','');
                    }
                };
                checkbox_checker();
                YUE.on(checkboxes,'click', checkbox_checker);

                YUE.on('rev_range_clear','click',function(e){
                    for (var i=0; i<checkboxes.length; i++){
                        var cb = checkboxes[i];
                        cb.checked = false;
                    }
                    checkbox_checker();
                    YUE.preventDefault(e);
                });

                var $msgs = $('.message');
                // get first element height
                var el = $('#graph_content .container')[0];
                var row_h = el.clientHeight;
                $msgs.each(function() {
                    var m = this;

                    var h = m.clientHeight;
                    if(h > row_h){
                        var offset = row_h - (h+12);
                        $(m.nextElementSibling).css('display', 'block');
                        $(m.nextElementSibling).css('margin-top', offset+'px');
                    }
                });

                $('.expand_commit').on('click',function(e){
                    var cid = $(this).attr('commit_id');
                    $('#C-'+cid).toggleClass('expanded');

                    //redraw the graph, r and jsdata are bound outside function
                    r.render(jsdata,100);
                });

                // change branch filter
                $("#branch_filter").select2({
                    dropdownAutoWidth: true,
                    minimumInputLength: 1
                    });

                $("#branch_filter").change(function(e){
                    var selected_branch = e.currentTarget.options[e.currentTarget.selectedIndex].value;
                    if(selected_branch != ''){
                        window.location = pyroutes.url('changelog_home', {'repo_name': '${c.repo_name}',
                                                                          'branch': selected_branch});
                    }else{
                        window.location = pyroutes.url('changelog_home', {'repo_name': '${c.repo_name}'});
                    }
                    $("#changelog").hide();
                });

                var jsdata = ${c.jsdata|n};
                var r = new BranchRenderer('graph_canvas', 'graph_content', 'chg_');
                r.render(jsdata,100);
            });

        </script>
        %else:
            ${_('There are no changes yet')}
        %endif
    </div>
</div>
</%def>
