## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
    ${_('Users Administration')}
    %if c.site_name:
        &middot; ${c.site_name}
    %endif
</%block>

<%def name="breadcrumbs_links()">
    <input class="q_filter_box" id="q_filter" size="15" type="text" name="filter" placeholder="${_('quick filter...')}" value=""/>
    ${h.link_to(_('Admin'),h.url('admin_home'))} &raquo; <span id="user_count">0</span> ${_('Users')}
</%def>

<%block name="header_menu">
    ${self.menu('admin')}
</%block>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
        <ul class="links">
          <li>
            <a href="${h.url('new_user')}" class="btn btn-small btn-success"><i class="icon-plus"></i> ${_(u'Add User')}</a>
          </li>
        </ul>
    </div>
    <!-- end box / title -->
    <div class="table-grid table yui-skin-sam" id="datatable_list_wrap"></div>
    <div id="user-paginator" style="padding: 0px 0px 0px 20px"></div>
</div>

<script>
  var data = ${c.data|n};
  var fields = [
    {key: "gravatar"},
    {key: "raw_name"},
    {key: "username"},
    {key: "firstname"},
    {key: "lastname"},
    {key: "last_login"},
    {key: "last_login_raw"},
    {key: "active"},
    {key: "admin"},
    {key: "extern_type"},
    {key: "action"}
  ];
  var column_defs = [
    {key:"gravatar",label:"",sortable:false},
    {key:"username",label:"${_('Username')}",sortable:true},
    {key:"firstname",label:"${_('First Name')}",sortable:true},
    {key:"lastname",label:"${_('Last Name')}",sortable:true},
    {key:"last_login",label:"${_('Last Login')}",sortable:true, sortOptions: { sortFunction: lastLoginSort }},
    {key:"active",label:"${_('Active')}",sortable:true},
    {key:"admin",label:"${_('Admin')}",sortable:true},
    {key:"extern_type",label:"${_('Auth Type')}",sortable:true},
    {key:"action",label:"${_('Action')}",sortable:false}
  ];
  var counter = YUD.get('user_count');
  var sort_key = "username";
  YUI_datatable(data, fields, column_defs, counter, sort_key, ${c.visual.admin_grid_items});
</script>

</%def>
